#stop {
  border: 0;
  height: 110px;
  width: 110px;
  margin: 10px 5px 5px 5px;
  background-image: url(../images/button_grey_stop.png);
  background-size: contain;

  background-color: #c9302c;
  border: 1px solid #ac2925;
  border-radius: 6px;

  box-shadow: 0 0 0.0em #000, 0 0 2px #000, 0 0 2px #505050;
  float: left;

  cursor:pointer;
}
.media_stop .fa-circle {
  color: #D3D3D3;
}
.media_stop .fa-stop {
  color: black;
}
body {
  background: url(../images/bg.jpg) repeat top left;
  margin-right: 149px;
}

.player {
  cursor: pointer;
  position: relative;
  width: 158px;
  height: 110px;
  padding: 0px;
  margin: 10px 5px 5px 5px;
  overflow: hidden;
  text-align: left;
  float: left;

  background-image: linear-gradient(bottom, rgb(222,222,222) 19%, rgb(241,241,241) 50%);
  background-image: -o-linear-gradient(bottom, rgb(222,222,222) 19%, rgb(241,241,241) 50%);
  background-image: -moz-linear-gradient(bottom, rgb(222,222,222) 19%, rgb(241,241,241) 50%);
  background-image: -webkit-linear-gradient(bottom, rgb(222,222,222) 19%, rgb(241,241,241) 50%);
  background-image: -ms-linear-gradient(bottom, rgb(222,222,222) 19%, rgb(241,241,241) 50%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.19, rgb(222,222,222)),
    color-stop(0.5, rgb(241,241,241))
  );

  border-radius: 6px;
  border: 1px solid rgba(255,255,255,1);
  box-shadow: 0 0 0.0em #000, 0 0 2px #000, 0 0 2px #505050;
}

.inner_player {
  position: absolute;
  margin: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 64px 64px;
  height: 100%;
  width: 100%;
  background-image: url(../images/button_grey_play.png)
}
.inner_player.playing {
  background-image: url(../images/button_grey_stop.png)
}

.player.filled {
  background-image: linear-gradient(bottom, rgb(240,240,240) 9%, rgb(184,245,245) 57%);
  background-image: -o-linear-gradient(bottom, rgb(240,240,240) 9%, rgb(184,245,245) 57%);
  background-image: -moz-linear-gradient(bottom, rgb(240,240,240) 9%, rgb(184,245,245) 57%);
  background-image: -webkit-linear-gradient(bottom, rgb(240,240,240) 9%, rgb(184,245,245) 57%);
  background-image: -ms-linear-gradient(bottom, rgb(240,240,240) 9%, rgb(184,245,245) 57%);

  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0.09, rgb(240,240,240)),
  color-stop(0.57, rgb(184,245,245))
  );
}

.title { position: absolute; bottom: 0px; }
.status {
  position: absolute;
  top: 0px;
  left: 0px;

  width: 0px;
  height: 100%;
  display:inline-block;
  border-radius: 5px;
  background: rgba(0,0,0,0);
}

.status.playing {
  background: rgba(255,0,0, 0.2);
}
.player .key {
  /*z-index: 100; */
  position: absolute;
  top: 2px;
  right: 2px;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}

section.volume {
  position: absolute;
  top: 35px;
  right: 3px;
  height: 75px;
}

.volume .volume_indicator {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url(../images/volume.png) no-repeat 0 -50px;
  position: absolute;
  bottom: 0px;
  right: -5px;
}

.volume .ui-slider {
  height: 50px;
}

.volume .ui-slider-handle {
  z-index: 2;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background: url(../images/handle.png) no-repeat 50% 50%;
  font-weight: bold;
  color: #1C94C4;
  outline: none;
  border: 0;
}
